name: Lint

on:
  pull_request:
    paths:
      - '.github/workflows/lint.yml'
      - '.swiftlint.yml'
      - '**/*.swift'

jobs:
  Lint:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Run linter
      uses: norio-nomura/action-swiftlint@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
